<!-- Default form subscription -->
<form [formGroup]="reportForm" novalidate class="text-center border border-light p-5">

    <h1>Reporte de horas</h1>
  
    <p>Diligencie el siguiente formulario para reportas las horas laboradas</p>
  
    <!-- Servicio -->
    <input type="text" formControlName="service_identification" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Identificación del servicio">
  
    <!-- Tecnico -->
    <input type="text" formControlName="technician_identification" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Identificación del técnico">
  
    <!-- Fecha inicial -->
    <input type="datetime-local" formControlName="initial_date" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Fecha inicial">
  
    <!-- Fecha final -->
    <input type="datetime-local" formControlName="final_date" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="Fecha final">

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" type="button" (click)="onSubmit()" >Registrar</button>
  
  
  </form>
  <!-- Default form subscription -->
<div class="container text-center">
  <div class="md-form input-group mb-3">
      
    <input #searchTechnician type="text"  class="form-control" placeholder="Buscar por técnico" aria-label="Buscar reporte"
      aria-describedby="button-addon2">
    
    <input #searchWeek type="text"  class="form-control" placeholder="Buscar semana" aria-label="Buscar reporte"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
        mdbWavesEffect type="text" (click)="search(searchTechnician.value, searchWeek.value )">Buscar</button>
    </div>
  </div>
</div>  

  <!--Table-->
  <div *ngIf="reports?.length" class="text-center border border-light p-5">
    <table class="table table-striped w-auto">

        <!--Table head-->
        <thead>
            <tr>
                <th>#</th>
                <th>Identificación del servicio</th>
                <th>Identificación del técnico</th>
                <th>Fecha inicial</th>
                <th>Fecha final</th>
                <th>Horas</th>
                <th>Semana</th>
            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
            <tr *ngFor="let val of reports" class="table-info">
                <th scope="row">{{ val.report_id }}</th>
                <td>{{ val.service_identification }}</td>
                <td>{{ val.technician_identification }}</td>
                <td>{{ val.initial_date }}</td>
                <td>{{ val.final_date }}</td>
                <td>{{ val.hours }}</td>
                <td>{{ val.week }}</td>
            </tr>
        </tbody>
        <!--Table body-->


    </table>
  </div>
<!--Table-->